@using WebApplication1.Data;
@{
    ViewData["Title"] = "Txt Index";
}

@{TxtFile[] files = (TxtFile[])ViewData["lstTxtFiles"];}

<ul>
    @foreach (TxtFile f in files)
    {
        <li>
            @Html.ActionLink(
    f.FileName,
    "Details",
    "TxtDetails",
    new { fn = f.FullName },
    new { title = f.FullName }
    )
        </li>
    }
</ul>
<p></p>

<div id="tabs">


    <ul>
        @foreach (TxtFile f in files)
        {
            <li><a href='@string.Format("#{0}",f.FileName)'>@(f.FileName)</a></li>
        }
    </ul>
    @foreach (TxtFile f in files)
    {
        <div id='@(f.FileName)'>@(f.Content)</div>
    }
</div>



<p></p>
@Html.ActionLink(
    "home",
    "Index",
    "HelloWorld"
    )





