@using WebApplication1.Data;
@{
    ViewData["Title"] = "Txt Index";
}



<ul>
    @for (int i = 0; i < ((TxtFile[])ViewData["lstTxtFiles"]).Length; i++)
    {
        <li>
            @Html.ActionLink(
    ((TxtFile[])ViewData["lstTxtFiles"])[i].FileName,
    "Details",
    "TxtDetails",
    new { fn = ((TxtFile[])ViewData["lstTxtFiles"])[i].FullName },
    new { title = ((TxtFile[])ViewData["lstTxtFiles"])[i].FullName }
    )
        </li>
    }
</ul>
<p></p>

<div id="tabs">


    <ul>
        @for (int i = 0; i < ((TxtFile[])ViewData["lstTxtFiles"]).Length; i++)
        {
            <li><a href='@string.Format("#{0}",((TxtFile[])ViewData["lstTxtFiles"])[i].FileName)'>@(((TxtFile[])ViewData["lstTxtFiles"])[i].FileName)</a></li>
        }
    </ul>
    @for (int i = 0; i < ((TxtFile[])ViewData["lstTxtFiles"]).Length; i++)
    {
        <div id='@(((TxtFile[])ViewData["lstTxtFiles"])[i].FileName)'>@(((TxtFile[])ViewData["lstTxtFiles"])[i].Content)</div>
    }
</div>



<p></p>
@Html.ActionLink(
    "home",
    "Index",
    "HelloWorld"
    )





